:root {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --clr-blue: hsl(220, 98%, 61%);
  --clr-green: hsl(192, 100%, 67%);
  --clr-pink: hsl(280, 87%, 65%);
  /*fontfamily del texto*/
  --font-family: "Josefin Sans", sans-serif;
  /*colores de fondo*/
  --background-base: #161722;
  /*colores de la aplicacion*/
  --color-primary: #25273c;
  --color-secundary: #EDE7F6;
  /*text-color*/
  --color-text-primary: #EDE7F6;
  --color-text-secondary: #5a7a92;
  /*imagen de fondo*/
  --background-image: url('./src/assets/Background/ModeLightDesktop.png');
  /*duracion de animacion*/
  --animation-duration: 0.5s;
}
[data-theme="light"] {
  --background-base: #f8f8f8;
}

[data-theme="dark"] {
  --background-base: #161722;
}

/* Estilos para el modo claro en dispositivos de escritorio */
[data-theme="light"][data-device="desktop"] {
  --background-image: url('./src/assets/Background/ModeLightDesktop.png');
}
/* Estilos para el modo oscuro en dispositivos de escritorio */
[data-theme="dark"][data-device="desktop"] {
  --background-image: url('./src/assets/Background/ModeDarkDesktop.png');
}
/* Estilos para el modo claro en dispositivos móviles */
[data-theme="light"][data-device="mobile"] {
  --background-image: url('./src/assets/Background/ModeLigthMobile.png');
}
/* Estilos para el modo oscuro en dispositivos móviles */
[data-theme="dark"][data-device="mobile"] {
  --background-image: url('./src/assets/Background/ModeDarkMobile.png');
}
body, body * {
  transition: 
    background-color var(--animation-duration), 
    color var(--animation-duration),
    background-image var(--animation-duration);
}

